soap-jax-ws-contract-first/WebContent/wsdl/CalculadoraServerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.calc.werison.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.calc.werison.com.br" xmlns:intf="http://impl.calc.werison.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.calc.werison.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="subtracao">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:float"/>
      <element name="num2" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtracaoResponse">
    <complexType>
     <sequence>
      <element name="subtracaoReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="soma">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:float"/>
      <element name="num2" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="somaResponse">
    <complexType>
     <sequence>
      <element name="somaReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisao">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:float"/>
      <element name="num2" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisaoResponse">
    <complexType>
     <sequence>
      <element name="divisaoReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicacao">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:float"/>
      <element name="num2" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicacaoResponse">
    <complexType>
     <sequence>
      <element name="multiplicacaoReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="divisaoResponse">

      <wsdl:part element="impl:divisaoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicacaoResponse">

      <wsdl:part element="impl:multiplicacaoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtracaoRequest">

      <wsdl:part element="impl:subtracao" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicacaoRequest">

      <wsdl:part element="impl:multiplicacao" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisaoRequest">

      <wsdl:part element="impl:divisao" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaRequest">

      <wsdl:part element="impl:soma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtracaoResponse">

      <wsdl:part element="impl:subtracaoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaResponse">

      <wsdl:part element="impl:somaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculadoraServerImpl">

      <wsdl:operation name="subtracao">

         <wsdl:input message="impl:subtracaoRequest" name="subtracaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtracaoResponse" name="subtracaoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma">

         <wsdl:input message="impl:somaRequest" name="somaRequest">

       </wsdl:input>

         <wsdl:output message="impl:somaResponse" name="somaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisao">

         <wsdl:input message="impl:divisaoRequest" name="divisaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisaoResponse" name="divisaoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacao">

         <wsdl:input message="impl:multiplicacaoRequest" name="multiplicacaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicacaoResponse" name="multiplicacaoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraServerImplSoapBinding" type="impl:CalculadoraServerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="subtracao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtracaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtracaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="soma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divisao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicacaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicacaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraServerImplService">

      <wsdl:port binding="impl:CalculadoraServerImplSoapBinding" name="CalculadoraServerImpl">

         <wsdlsoap:address location="http://localhost:8080/soap-jax-ws-contract-first/services/CalculadoraServerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
